<div class="container">
<div class="col-md-5">
    <div class="form-area">  
        <form role="form">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Create a Subject</h3>
            <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Subject Title" required>
          </div>
    
            
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
</div>
</div>