<div class="section-1">
  <h1 class="conquer-course">Conquer Your Course!</h1>
  <h3 class="study-more-info">We provide the digital tools needed to help you realize your fullest potential. Join for free today to get better grades, save time, and stress less!</h3>
  <div class="form-section ">
    <form class="form-inline signup-form" accept-charset="UTF-8" action="/users/signup" method="post">
      <div class="form-group">
        <input class="form-control" name="name" placeholder="Full Name" type="text"> 
      </div>
      <div class="form-group">
        <input class="form-control" name="email" placeholder="Email" type="text">
      </div>
      <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
      </div>
      <div form-group row>
      <button class="btn signup-button" type="submit">Sign up for StudyMore</button>
      </div>
    </form>
  </div>
</div>
<div class="section-2">
  <h1 class="what-is-studymore">What is StudyMore?</h1>
  <h3 class="index-info">StudyMore, a learning platform, provides intelligent learning tools including flashcards, and more, that empower students to study smarter.</h3>
</div>
