<div class="section-1">
<h1 class="conquer-course">Conquer Your Course!</h1>
<h3 class="study-more-info">We provide the digital tools needed to help you realize your fullest potential. Join for free today to get better grades, save time, and stress less!</h3>
  <legend>Sign up!</legend>
  <form accept-charset="UTF-8" action="/users/signup" method="post">
    <input class="span3" name="name" placeholder="Full Name" type="text"> 
    <input class="span3" name="email" placeholder="Email" type="text">
    <input class="span3" name="password" placeholder="Password" type="password"> 
    <button class="btn btn-warning" type="submit">Sign up for StudyMore</button>
  </form>
</div>
