<form action="/users/login" method="post" class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Sign In</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">E-mail</label>  
    <div class="col-md-4">
    <input id="email" name="email" type="text" placeholder="john.smith@mail.com" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="password">Password</label>
    <div class="col-md-4">
      <input id="password" name="password" type="password" placeholder="Enter your password" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button>
    </div>
  </div>

  </fieldset>
</form>