<button type="button" name="exit" href="/subjects/${id}">EXIT</button>

<h1>{{subject}} Quiz </h1>


{{card.front}}
{{card.back}}
<button type="button" name="incorrect"></button>
<button type="button" name="flip">FLIP</button>
<button type="button" name="correct"></button>
