<h1>{{percentCorrect}}</h1>
Good job!

<button type="button" name="button">Study All</button>
<button type="button" name="button">Study Wrong</button>
<button type="button" name="button" href="/subjects/${subject_id}">Finish</button>
