
<div class="container-fluid create-card">
<h1>{{percentCorrect}}%</h1>
<h1>Good job!<h1>

<a class="btn" type="button" name="button">Study All</a>
<a class="btn" type="button" name="button">Study Wrong</a>
<a class="btn" type="button" name="button" href="/subjects/${subject_id}">Finish</a>
</div>
