<h1>{{percentCorrect}}%</h1>
Good job!

<a type="button" name="button">Study All</a>
<a type="button" class="btn btn-warning" href="/quiz/wrong/{{subject.id}}/{{wrongIDs}}/">Study Wrong</a>
<a type="button" name="button" href="/subjects/$">Finish</a>
