<div class="container-fluid create-card">
<div class="col-md-5 form-area">
    <div class="">  
        <form role="form" action="/subjects/create-subject" method="post">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Edit Subject</h3>
            <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Subject Title" required>
          </div>
    
            
        <button type="submit" name="submit" class="btn btn-primary pull-right">Submit </button>
        </form>
    </div>
</div>
</div>


