body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.dashboard-header {
  margin: 0px;
  padding-top: 80px;
  padding-bottom: 0px;
  background: url('http://i.imgur.com/ryr9yvn.png');
  background-size: cover;
  max-width: 100%;
  display: block;
}

.login {
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 650px;
  background: url('http://i.imgur.com/ryr9yvn.png');
  background-size: cover;
  max-width: 100%;
  display: block;
}

.create-card {
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 650px;
  background: url('http://i.imgur.com/ryr9yvn.png');
  background-size: cover;
  max-width: 100%;
  display: block;
}

.section-1 {
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 80px;
  background: url('http://i.imgur.com/JhuyMiT.png') top center;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.section-2 {
  margin: 0px;
  padding-top: 80px;
  padding-bottom: 90px;
  background: url('http://i.imgur.com/ryr9yvn.png') top center;
  background-size: cover;
  max-width: 100%;
  height: 500px;
} 

.card-space {
  background: url('http://i.imgur.com/t0zXs59.png') top center;
  background-size: cover;
  font-size: 1.5em;
}

.form-area {
  margin-left: 270px;
  margin-right: 270px;
}

.form-section {
  padding-left: 270px;
  padding-right: 270px;
}

.signup-form {
  text-align: center;
}

.form-control {
  margin: 3px;
  margin-bottom: 20px
}

.conquer-course, .what-is-studymore, .study-more-info, .index-info {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  padding-left: 270px;
  padding-right: 270px;
}

.conquer-course {
  font-size: 4em;
  margin-top: 100px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7),0 3px 7px rgba(0,0,0,0.4);
  font-weight: 900;
}

.what-is-studymore {
  font-size: 4em;
  margin-bottom: 60px;
}

.study-more-info {
  font-size: 3em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7),0 3px 7px rgba(0,0,0,0.4);
  margin-bottom: 60px;
}

.index-info {
  font-size: 3em;
}

.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 1.6em;
  padding-right: 80px;
  border-color: transparent;
  font-family: 'Raleway', sans-serif;
}

a.navbar-brand {
  font-size: 1.2em;
  padding-top:7px;
  color: white;
  font-family: 'Raleway', sans-serif;

}

.dropdown-menu > li > a {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;

}

button.navbar-toggle. .icon-bar {
  color: white;
  font-family: 'Raleway', sans-serif;

}

.dropdown-toggle {
  background-color: transparent;
}

.caret {
  color: white;
}

.logo {
  color: white;
}

.glyphicon {
  padding-left: 80px;
  color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #555;
  background-color: transparent;
}

@media only screen and (max-width: 500px) {
  .glyphicon {
    padding-left: 0px;
  },
  .navbar {
    padding-left: 0px;
  }
  .study-more-info {
    font-size: 1.5em;
  }
  .conquer-course {
    margin-top: 15px;
    font-size: 2.5em;
  }
}
.jumbotron {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: white;
  border: 1px solid #4F87AB;
  background-image: url('http://i.imgur.com/t0zXs59.png');
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 30px;
}

.pad-tron {
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 90px;
}

.create-btn {
  margin-top: 25px;
  margin-left: 60px;
  border-radius: 0px;
  margin-bottom: 17px;
  height: 50px;
  width: 165px;
}

.welcome-font {
  color: #ffffff;
  padding-left: 100px;
  font-size: 3em;
  font-weight: 400;
}

.page-header {
  margin-bottom: 0px;
}

.btn {
  border: 2.5px solid #ffffff;
  color: #ffffff;
  font-weight: 200;
  border-radius: 0px;
  margin-bottom: 17px;
  background-color: transparent;
}

.create-btn {
  border: solid #4F87AB;
  color: #4F87AB;
  margin-top: 25px;
  margin-left: 60px;
  border-radius: 0px;
  margin-bottom: 17px;
  height: 50px;
  width: 165px;
}

.glyphicon-pencil {
  padding-left: 1px;
  color: #4F87AB;
}

.glyphicon-remove {
  padding-left: 1px;
  color: #4F87AB;
}

.edit-delete-btn {
  border: solid white;
  color: #4F87AB;
}


.group-button {
  margin-top: 15px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

.card-count {
  /*font-size: 1.4em;*/
  margin-left: -18px;
  margin-top: 20px;
}

.text-center {
  text-align: left;
  color: #4F87AB;
  font-weight: 400;
}
.back {  
display: none
}


a {
  color: #4F87AB;
  font-weight: 600; 
}


.login-button {
  background-color: #ff6666;
  border-color: #ff6666;
}

.signup-button {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 200;
  background-color: #ff5050;
  border-color: #ff5050;
}
